# GNews API Key - Get yours from https://gnews.io/
GNEWS_API_KEY=YOUR_GNEWS_API_KEY_HERE

# Gemini API Key - Get yours from https://ai.google.dev/
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE

# MongoDB Connection String
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/newsApp

# JWT Secret for Authentication
JWT_SECRET=YOUR_SECRET_PHRASE_HERE
